@import "../../index";
.video__section{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
    // justify-content: center;
    column-gap: calc((5%)/3);
    row-gap: 20px;
    margin-top: 20px;
    
}
.video__container {
  width: 23.7%;
//  margin:10px; 
}
.video__thumbnail {
  position: relative;

  // height: 160px;
  img {
    width: 100%;
  }
  span {
    position: absolute;
    right: 1%;
    bottom: 1%;
    background-color: $dark-secondary;
    color: white;
    border-radius: 2px;
    margin: 4px;
  }
}
.video__details {
  margin-top: 10px;
  column-gap: 10px;
  display: flex;
  .video__content {
      width:100%;
      .video__title{
          font-size: 16px;
          font-weight: 400;
          @include line-clamp(2);
          word-wrap: break-word;
      }
      &>.views__time{
          margin:0;
          font-weight: 300;
      }
  }
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
  grid-column-gap: calc((5%)/3);
  column-gap: calc((5%)/3);
  grid-row-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
  // height: 80vh;
  height: unset !important;
  overflow: unset !important;
}

.channel__name{
  font-weight: 600;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  width: fit-content;
  color:inherit !important;
}
